<a href="https://colab.research.google.com/github/golderalex6/project/blob/main/Processing_US_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from pandas import DataFrame
import matplotlib.pyplot as plt
import numpy as np
from math import *
mil_to_km=2.59

In [ ]:
us_raw=pd.read_csv('/content/us_data/covid19-us(main).csv')
us_raw.rename(columns={'State':'Abbreviation'},inplace=True)
us_raw.drop(index=0,inplace=True)
us_raw.reset_index(drop=True,inplace=True)
us_raw

,countyFIPS,County Name,Abbreviation,StateFIPS,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,...,2023-07-14,2023-07-15,2023-07-16,2023-07-17,2023-07-18,2023-07-19,2023-07-20,2023-07-21,2023-07-22,2023-07-23
0,1001,Autauga County,AL,1,0,0,0,0,0,0,...,19913,19913,19913,19913,19913,19913,19913,19913,19913,19913
1,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,70521,70521,70521,70521,70521,70521,70521,70521,70521,70521
2,1005,Barbour County,AL,1,0,0,0,0,0,0,...,7582,7582,7582,7582,7582,7582,7582,7582,7582,7582
3,1007,Bibb County,AL,1,0,0,0,0,0,0,...,8149,8149,8149,8149,8149,8149,8149,8149,8149,8149
4,1009,Blount County,AL,1,0,0,0,0,0,0,...,18872,18872,18872,18872,18872,18872,18872,18872,18872,18872
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3187,56037,Sweetwater County,WY,56,0,0,0,0,0,0,...,12645,12645,12645,12645,12645,12645,12645,12645,12645,12645
3188,56039,Teton County,WY,56,0,0,0,0,0,0,...,12206,12206,12206,12206,12206,12206,12206,12206,12206,12206
3189,56041,Uinta County,WY,56,0,0,0,0,0,0,...,6468,6468,6468,6468,6468,6468,6468,6468,6468,6468
3190,56043,Washakie County,WY,56,0,0,0,0,0,0,...,2640,2640,2640,2640,2640,2640,2640,2640,2640,2640
3191,56045,Weston County,WY,56,0,0,0,0,0,0,...,1914,1914,1914,1914,1914,1914,1914,1914,1914,1914

In [ ]:
state_name=pd.read_csv('/content/us_data/state-acronym.csv')
state_name

                   State Abbreviation
0                Alabama           AL
1                 Alaska           AK
2                Arizona           AZ
3               Arkansas           AR
4             California           CA
5               Colorado           CO
6            Connecticut           CT
7               Delaware           DE
8   District of Columbia           DC
9                Florida           FL
10               Georgia           GA
11                Hawaii           HI
12                 Idaho           ID
13              Illinois           IL
14               Indiana           IN
15                  Iowa           IA
16                Kansas           KS
17              Kentucky           KY
18             Louisiana           LA
19                 Maine           ME
20               Montana           MT
21              Nebraska           NE
22                Nevada           NV
23         New Hampshire           NH
24            New Jersey           NJ
25            New Mexico           NM
26              New York           NY
27        North Carolina           NC
28          North Dakota           ND
29                  Ohio           OH
30              Oklahoma           OK
31                Oregon           OR
32              Maryland           MD
33         Massachusetts           MA
34              Michigan           MI
35             Minnesota           MN
36           Mississippi           MS
37              Missouri           MO
38          Pennsylvania           PA
39          Rhode Island           RI
40        South Carolina           SC
41          South Dakota           SD
42             Tennessee           TN
43                 Texas           TX
44                  Utah           UT
45               Vermont           VT
46              Virginia           VA
47            Washington           WA
48         West Virginia           WV
49             Wisconsin           WI
50               Wyoming           WY

In [ ]:
#HANDLE AREA
state_area=pd.read_csv('/content/us_data/us-state-areas.csv')
state_area['area (sq. km)']=state_area['area (sq. mi)']*mil_to_km
state_area

                   State  area (sq. mi)  area (sq. km)
0                Alabama          52423      135775.57
1                 Alaska         656425     1700140.75
2                Arizona         114006      295275.54
3               Arkansas          53182      137741.38
4             California         163707      424001.13
5               Colorado         104100      269619.00
6            Connecticut           5544       14358.96
7               Delaware           1954        5060.86
8                Florida          65758      170313.22
9                Georgia          59441      153952.19
10                Hawaii          10932       28313.88
11                 Idaho          83574      216456.66
12              Illinois          57918      150007.62
13               Indiana          36420       94327.80
14                  Iowa          56276      145754.84
15                Kansas          82282      213110.38
16              Kentucky          40411      104664.49
17             Louisiana          51843      134273.37
18                 Maine          35387       91652.33
19              Maryland          12407       32134.13
20         Massachusetts          10555       27337.45
21              Michigan          96810      250737.90
22             Minnesota          86943      225182.37
23           Mississippi          48434      125444.06
24              Missouri          69709      180546.31
25               Montana         147046      380849.14
26              Nebraska          77358      200357.22
27                Nevada         110567      286368.53
28         New Hampshire           9351       24219.09
29            New Jersey           8722       22589.98
30            New Mexico         121593      314925.87
31              New York          54475      141090.25
32        North Carolina          53821      139396.39
33          North Dakota          70704      183123.36
34                  Ohio          44828      116104.52
35              Oklahoma          69903      181048.77
36                Oregon          98386      254819.74
37          Pennsylvania          46058      119290.22
38          Rhode Island           1545        4001.55
39        South Carolina          32007       82898.13
40          South Dakota          77121      199743.39
41             Tennessee          42146      109158.14
42                 Texas         268601      695676.59
43                  Utah          84904      219901.36
44               Vermont           9615       24902.85
45              Virginia          42769      110771.71
46            Washington          71303      184674.77
47         West Virginia          24231       62758.29
48             Wisconsin          65503      169652.77
49               Wyoming          97818      253348.62
50  District of Columbia             68         176.12
51           Puerto Rico           3515        9103.85

In [ ]:
#HANDLE POPULATION
state_population=pd.read_excel('/content/us_data/us-state-population.xlsx')
state_population=state_population[['Geographic Area',2021]]
state_population.drop(0,inplace=True)
state_population.reset_index(drop=True,inplace=True)
state_population['Geographic Area']=state_population['Geographic Area'].map(lambda x:x.split(', ')[1])
state_population=DataFrame.groupby(state_population,'Geographic Area').sum()
state_population.reset_index(inplace=True)
state_population.rename(columns={'Geographic Area':'State'},inplace=True)
state_population

                   State      2021
0                Alabama   5049846
1                 Alaska    734182
2                Arizona   7264877
3               Arkansas   3028122
4             California  39142991
5               Colorado   5811297
6            Connecticut   3623355
7               Delaware   1004807
8   District of Columbia    668791
9                Florida  21828069
10               Georgia  10788029
11                Hawaii   1447154
12                 Idaho   1904314
13              Illinois  12686469
14               Indiana   6813532
15                  Iowa   3197689
16                Kansas   2937922
17              Kentucky   4506589
18             Louisiana   4627098
19                 Maine   1377238
20              Maryland   6174610
21         Massachusetts   6989690
22              Michigan  10037504
23             Minnesota   5711471
24           Mississippi   2949586
25              Missouri   6169823
26               Montana   1106227
27              Nebraska   1963554
28                Nevada   3146402
29         New Hampshire   1387505
30            New Jersey   9267961
31            New Mexico   2116677
32              New York  19857492
33        North Carolina  10565885
34          North Dakota    777934
35                  Ohio  11764342
36              Oklahoma   3991225
37                Oregon   4256301
38          Pennsylvania  13012059
39          Rhode Island   1096985
40        South Carolina   5193266
41          South Dakota    896164
42             Tennessee   6968351
43                 Texas  29558864
44                  Utah   3339113
45               Vermont    646972
46              Virginia   8657365
47            Washington   7740745
48         West Virginia   1785526
49             Wisconsin   5880101
50               Wyoming    579483

# Density

In [ ]:
#HANDLE DENSITY
us_density=pd.merge(state_population,state_area,on='State')
us_density['density(peo/sq.km)']=us_density[2021]/us_density['area (sq. km)']
us_density.rename(columns={2021:'population'},inplace=True)
us_density

,State,population,area (sq. mi),area (sq. km),density(peo/sq.km)
0,Alabama,5049846,52423,135775.57,37.192597
1,Alaska,734182,656425,1700140.75,0.431836
2,Arizona,7264877,114006,295275.54,24.603721
3,Arkansas,3028122,53182,137741.38,21.984113
4,California,39142991,163707,424001.13,92.318129
5,Colorado,5811297,104100,269619.00,21.553737
6,Connecticut,3623355,5544,14358.96,252.341047
7,Delaware,1004807,1954,5060.86,198.544714
8,District of Columbia,668791,68,176.12,3797.359755
9,Florida,21828069,65758,170313.22,128.164267
10,Georgia,10788029,59441,153952.19,70.073891
11,Hawaii,1447154,10932,28313.88,51.111116
12,Idaho,1904314,83574,216456.66,8.797669
13,Illinois,12686469,57918,150007.62,84.572164
14,Indiana,6813532,36420,94327.80,72.232491
15,Iowa,3197689,56276,145754.84,21.938819
16,Kansas,2937922,82282,213110.38,13.785917
17,Kentucky,4506589,40411,104664.49,43.057478
18,Louisiana,4627098,51843,134273.37,34.460281
19,Maine,1377238,35387,91652.33,15.026765
20,Maryland,6174610,12407,32134.13,192.151149
21,Massachusetts,6989690,10555,27337.45,255.681858
22,Michigan,10037504,96810,250737.90,40.031858
23,Minnesota,5711471,86943,225182.37,25.363757
24,Mississippi,2949586,48434,125444.06,23.513158
25,Missouri,6169823,69709,180546.31,34.173077
26,Montana,1106227,147046,380849.14,2.904633
27,Nebraska,1963554,77358,200357.22,9.800266
28,Nevada,3146402,110567,286368.53,10.987248
29,New Hampshire,1387505,9351,24219.09,57.289725
30,New Jersey,9267961,8722,22589.98,410.268668
31,New Mexico,2116677,121593,314925.87,6.721191
32,New York,19857492,54475,141090.25,140.743191
33,North Carolina,10565885,53821,139396.39,75.797408
34,North Dakota,777934,70704,183123.36,4.248142
35,Ohio,11764342,44828,116104.52,101.325444
36,Oklahoma,3991225,69903,181048.77,22.045027
37,Oregon,4256301,98386,254819.74,16.703184
38,Pennsylvania,13012059,46058,119290.22,109.079009
39,Rhode Island,1096985,1545,4001.55,274.140021
40,South Carolina,5193266,32007,82898.13,62.646359
41,South Dakota,896164,77121,199743.39,4.486577
42,Tennessee,6968351,42146,109158.14,63.837209
43,Texas,29558864,268601,695676.59,42.489376
44,Utah,3339113,84904,219901.36,15.184595
45,Vermont,646972,9615,24902.85,25.979838
46,Virginia,8657365,42769,110771.71,78.155018
47,Washington,7740745,71303,184674.77,41.915552
48,West Virginia,1785526,24231,62758.29,28.450839
49,Wisconsin,5880101,65503,169652.77,34.659623
50,Wyoming,579483,97818,253348.62,2.287295

In [ ]:
filter_us_0=us_raw[[us_raw.columns[2]]+list(filter(lambda x:'2021-07-01'<=x<='2021-08-31',us_raw.columns))]
filter_us_1=us_raw[[us_raw.columns[2]]+list(filter(lambda x:'2021-07-02'<=x<='2021-09-01',us_raw.columns))]

# New case a Day

In [ ]:
#CREATE TABLE FOR GENERAL INFORMATION
a=DataFrame.groupby(filter_us_0,'Abbreviation').sum()
b=DataFrame.groupby(filter_us_1,'Abbreviation').sum()
us_case_day=DataFrame({a.columns[i]:b[b.columns[i]]-a[a.columns[i]] for i in range(len(a.columns))})
us_case_day[us_case_day<0]=0

us_case_2m=DataFrame(us_case_day.transpose().sum())
us_case_2m.rename(columns={0:'ncase_th_periods'},inplace=True)
us_case_2m.reset_index(inplace=True)
us_case_2m=pd.merge(us_case_2m,state_name,how='inner')[['State','ncase_th_periods']]
us_case_2m=pd.merge(us_case_2m,us_density,on='State')


us_case_2m_people=us_case_2m.sort_values('population')
us_case_2m_density=us_case_2m.sort_values('density(peo/sq.km)')
us_case_2m=DataFrame(us_case_2m[us_case_2m['State'].isin(['Pennsylvania','Arkansas','Maine','Virginia','New Hampshire','Georgia','Arizona','Texas','New York','North Dakota'])])
us_case_2m['AVG_case_per1000']=us_case_2m['ncase_th_periods']*1000/us_case_2m['population']
us_case_2m_people

,State,ncase_th_periods,population,area (sq. mi),area (sq. km),density(peo/sq.km)
50,Wyoming,13654,579483,97818,253348.62,2.287295
46,Vermont,3987,646972,9615,24902.85,25.979838
7,District of Columbia,6208,668791,68,176.12,3797.359755
0,Alaska,16785,734182,656425,1700140.75,0.431836
28,North Dakota,7237,777934,70704,183123.36,4.248142
41,South Dakota,8276,896164,77121,199743.39,4.486577
8,Delaware,10410,1004807,1954,5060.86,198.544714
39,Rhode Island,10370,1096985,1545,4001.55,274.140021
26,Montana,14277,1106227,147046,380849.14,2.904633
21,Maine,7236,1377238,35387,91652.33,15.026765
30,New Hampshire,8299,1387505,9351,24219.09,57.289725
11,Hawaii,26150,1447154,10932,28313.88,51.111116
49,West Virginia,27059,1785526,24231,62758.29,28.450839
13,Idaho,27459,1904314,83574,216456.66,8.797669
29,Nebraska,21520,1963554,77358,200357.22,9.800266
32,New Mexico,27858,2116677,121593,314925.87,6.721191
16,Kansas,55065,2937922,82282,213110.38,13.785917
25,Mississippi,117717,2949586,48434,125444.06,23.513158
2,Arkansas,104062,3028122,53182,137741.38,21.984113
33,Nevada,57797,3146402,110567,286368.53,10.987248
12,Iowa,26140,3197689,56276,145754.84,21.938819
44,Utah,50428,3339113,84904,219901.36,15.184595
6,Connecticut,24397,3623355,5544,14358.96,252.341047
36,Oklahoma,92747,3991225,69903,181048.77,22.045027
37,Oregon,70252,4256301,98386,254819.74,16.703184
17,Kentucky,116652,4506589,40411,104664.49,43.057478
18,Louisiana,210141,4627098,51843,134273.37,34.460281
1,Alabama,153437,5049846,52423,135775.57,37.192597
40,South Carolina,143613,5193266,32007,82898.13,62.646359
23,Minnesota,45940,5711471,86943,225182.37,25.363757
5,Colorado,59751,5811297,104100,269619.00,21.553737
48,Wisconsin,58494,5880101,65503,169652.77,34.659623
24,Missouri,135509,6169823,69709,180546.31,34.173077
20,Maryland,36022,6174610,12407,32134.13,192.151149
15,Indiana,109001,6813532,36420,94327.80,72.232491
42,Tennessee,194071,6968351,42146,109158.14,63.837209
19,Massachusetts,47491,6989690,10555,27337.45,255.681858
3,Arizona,121316,7264877,114006,295275.54,24.603721
47,Washington,115032,7740745,71303,184674.77,41.915552
45,Virginia,89278,8657365,42769,110771.71,78.155018
31,New Jersey,70636,9267961,8722,22589.98,410.268668
22,Michigan,65430,10037504,96810,250737.90,40.031858
27,North Carolina,206916,10565885,53821,139396.39,75.797408
10,Georgia,193977,10788029,59441,153952.19,70.073891
35,Ohio,116099,11764342,44828,116104.52,101.325444
14,Illinois,135924,12686469,57918,150007.62,84.572164
38,Pennsylvania,91211,13012059,46058,119290.22,109.079009
34,New York,167329,19857492,54475,141090.25,140.743191
9,Florida,956422,21828069,65758,170313.22,128.164267
43,Texas,621287,29558864,268601,695676.59,42.489376
4,California,547379,39142991,163707,424001.13,92.318129

# General Information

In [ ]:
#CREATE TABLE FOR TOTAL NEW CASE OF 10 STATE BY DAYS
u=DataFrame.groupby(filter_us_0,'Abbreviation').sum()
v=DataFrame.groupby(filter_us_1,'Abbreviation').sum()
us_case=DataFrame({u.columns[i]:v[v.columns[i]]-u[u.columns[i]] for i in range(len(u.columns))})
us_case[us_case<0]=0

us_day=us_case.reset_index()
us_day=pd.merge(us_day,state_name,how='inner')
us_day.drop('Abbreviation',axis=1,inplace=True)
us_day_2m=us_day[us_day['State'].isin(['Pennsylvania','Arkansas','Maine','Virginia','New Hampshire','Georgia','Arizona','Texas','New York','North Dakota'])]
us_day_2m.set_index('State',inplace=True)
us_day_2m

,2021-07-01,2021-07-02,2021-07-03,2021-07-04,2021-07-05,2021-07-06,2021-07-07,2021-07-08,2021-07-09,2021-07-10,...,2021-08-22,2021-08-23,2021-08-24,2021-08-25,2021-08-26,2021-08-27,2021-08-28,2021-08-29,2021-08-30,2021-08-31
State,,,,,,,,,,,,,,,,,,,,,
Arkansas,494,0,0,1246,270,1000,1210,1155,0,0,...,4744,2161,2670,2261,2835,0,0,3807,2581,2953
Arizona,526,0,0,0,2037,373,624,922,0,0,...,12242,0,0,9450,3707,0,0,9231,822,4740
Georgia,341,0,0,0,995,426,642,530,0,0,...,16719,5208,7380,7896,8379,0,0,19058,6782,6702
Maine,15,29,22,0,0,73,8,0,18,0,...,0,362,291,390,263,415,0,0,475,434
North Dakota,11,5,2,9,6,28,29,13,27,9,...,0,109,753,354,283,361,172,139,520,458
New Hampshire,24,0,0,0,69,26,38,24,0,0,...,730,262,301,332,322,0,0,944,199,350
New York,506,410,421,368,255,486,670,817,661,666,...,3816,3199,4272,0,11755,5524,0,8393,3789,4612
Pennsylvania,304,215,145,98,112,190,222,230,236,178,...,1846,2795,8849,3333,3509,3790,2899,2389,3249,3100
Texas,1911,1438,419,255,1002,1846,4043,2397,2320,600,...,5751,21068,24372,17282,17387,16792,3661,9911,28749,21834
Virginia,180,160,168,122,132,273,291,257,286,240,...,9873,3027,3454,3491,3520,0,0,8296,3487,3407